<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cute_pet.mapper.PictureMapper">

    <resultMap id="BaseResultMap" type="com.example.cute_pet.domain.Picture">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="topicId" column="topic_id" jdbcType="INTEGER"/>
            <result property="petId" column="pet_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="pic" column="pic" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,topic_id,pet_id,
        user_id,pic
    </sql>
</mapper>
